<%- include('../includes/header') %>
</head>

<%- include('../includes/navbar') %>
    <main class="add_prod_container">
        <h1 class="heading">Add New Product</h1>
        <form class="add_prod_form" action="/admin/product-edit/<%= product._id %>" method="POST">
            <input placeholder="Enter product name..." class="add_prod_input" type="text" name="prod_name" value="<%= product.name %>">
            <input placeholder="Enter product image url..." class="add_prod_input" type="text" name="prod_img" value="<%= product.img %>">
            <textarea placeholder="Enter product description..." class="add_prod_input" type="text" name="prod_desc"><%= product.desc %></textarea>
            <input type="number" step='0.01' placeholder="Enter product price..." class="add_prod_input" type="text" name="prod_price" value="<%= product.price %>">
            <button class="add_btn" type="submit">Update Product</button>
        </form>
    </main>
<%- include('../includes/footer') %>