<%- include('../includes/header') %>
</head>

<%- include('../includes/navbar') %>
    <main>
        <h1 class="heading">My Products</h1>
        <% if(products.length!==0) { %>
            <div class="prod_list">
                <% products.map(function(prod){ %>
                    <div class="prod_card">
                        <img class="prod_img" src="<%= prod.img %>" alt="product image" />
                        <h2>$ <%= prod.price %></h2>
                        <h3><%= prod.name %></h3>
                        <p class="prod_desc"><%= prod.desc %></p>
                        <div class="prod_action">
                            <a href="/user/product-detail/<%= prod._id %>"><button class="prod_btn">Details</button></a>
                        </div>
                    </div>
                <% }) %>
            </div>
        <% } else { %>
            <p class="prod_subheading">No products...</p>
        <% } %>
    </main>
<%- include('../includes/footer') %>