<%- include('../includes/header') %>
</head>

<%- include('../includes/navbar') %>
    <main>
        <div class="header_section">
            <h1><%= product.name %></h1>
            <h2>$ <%= product.price %></h2>
        </div>
        <hr class="prod_detail_hr">
        <img class="prod_detail_img" src="<%= product.img %>" alt="product image" />
        <p class="prod_desc"><%= product.desc %></p>
        <form action="/user/cart-add/<%= product._id %>" method="POST">
            <button class="prod_btn">Add to cart</button>
        </form>
    </main>
<%- include('../includes/footer') %>